# Exercise: Pandas

## To get started we'll need  __`pandas`__

In [22]:
import pandas as pd

## Read the Consumer Complaints data file named __`data/Consumer_Complaints.csv`__ into a DataFrame

In [2]:
data = pd.read_csv('data/Consumer_Complaints.csv')

## Determine the shape of the DataFrame

In [3]:
data.shape

(957642, 18)

## Investigate the first few rows of the DataFrame and find out what columns are present

In [4]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,03/12/2014,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,M&T BANK CORPORATION,MI,48382,NaN,NaN,Referral,03/17/2014,Closed with explanation,Yes,No,759217
1,10/01/2016,Credit reporting,NaN,Incorrect information on credit report,Account status,I have outdated information on my credit repor...,Company has responded to the consumer and the ...,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",AL,352XX,NaN,Consent provided,Web,10/05/2016,Closed with explanation,Yes,No,2141773
2,10/17/2016,Consumer Loan,Vehicle loan,Managing the loan or lease,NaN,I purchased a new car on XXXX XXXX. The car de...,NaN,"CITIZENS FINANCIAL GROUP, INC.",PA,177XX,Older American,Consent provided,Web,10/20/2016,Closed with explanation,Yes,No,2163100
3,06/08/2014,Credit card,NaN,Bankruptcy,NaN,NaN,NaN,AMERICAN EXPRESS COMPANY,ID,83854,Older American,NaN,Web,06/10/2014,Closed with explanation,Yes,Yes,885638
4,09/13/2014,Debt collection,Credit card,Communication tactics,Frequent or repeated calls,NaN,NaN,"CITIBANK, N.A.",VA,23233,NaN,NaN,Web,09/13/2014,Closed with explanation,Yes,Yes,1027760

## How many consumer complaints are there per state?

In [5]:
data['State'].value_counts()

CA    135002
FL     91133
TX     76955
NY     64340
GA     47759
       ...
MP        31
MH        30
AS        25
AA        19
PW        13
Name: State, Length: 62, dtype: int64

## What ZIP code has the highest number of complaints?

In [6]:
data['ZIP code'].value_counts()[:1]

300XX    4887
Name: ZIP code, dtype: int64

## What are the top five products for complaints?

In [7]:
data['Product'].value_counts()[:5]

Mortgage                   247626
Debt collection            182186
Credit reporting           140433
Credit card                 89191
Bank account or service     86206
Name: Product, dtype: int64

## What are the top five states for consumer complaints?

In [8]:
data['State'].value_counts()[:5]

CA    135002
FL     91133
TX     76955
NY     64340
GA     47759
Name: State, dtype: int64

## What is potentially misleading about these results? 
* We can solve this problem by normalizing the results against population data.
* Our complaints database doesn't have this information though, so, let's read the information from the file __`data/states.csv`__ into a DataFrame

In [9]:
states = pd.read_csv('data/states.csv')
states

                             State Abbrev  Count  Population
0                          Alabama     AL    129   4874747.0
1                           Alaska     AK     35    739795.0
2                   American Samoa     AS      1     51504.0
3                         Arizona      AZ    155   7016270.0
4                         Arkansas     AR    108   3004279.0
5                       California     CA   1246  39536653.0
6                         Colorado     CO    171   5607154.0
7                      Connecticut     CT    114   3588184.0
8                         Delaware     DE     23    961939.0
9             District of Columbia     DC     33    693972.0
10  Federated States of Micronesia     FM      4         NaN
11                         Florida     FL    439  20984400.0
12                         Georgia     GA    210  10429379.0
13                            Guam     GU      2    167358.0
14                          Hawaii     HI     43   1427538.0
15                           Idaho     ID     33   1716943.0
16                        Illinois     IL    391  12802023.0
17                         Indiana     IN    175   6666818.0
18                            Iowa     IA    107   3145711.0
19                          Kansas     KS     99   2913123.0
20                        Kentucky     KY    165   4454189.0
21                       Louisiana     LA    173   4684333.0
22                           Maine     ME     60   1335907.0
23                Marshall Islands     MH      2         NaN
24                        Maryland     MD    148   6052177.0
25                   Massachusetts     MA    261   6859819.0
26                        Michigan     MI    302   9962311.0
27                       Minnesota     MN    169   5576606.0
28                     Mississippi     MS     69   2984100.0
29                        Missouri     MO    242   6113532.0
30                         Montana     MT     54   1050493.0
31                        Nebraska     NE     68   1920076.0
32                          Nevada     NV     77   2998039.0
33                   New Hampshire     NH     43   1342795.0
34                      New Jersey     NJ    207   9005644.0
35                      New Mexico     NM     61   2088070.0
36                        New York     NY    632  19849399.0
37                  North Carolina     NC    188  10273419.0
38                    North Dakota     ND     30    755393.0
39        Northern Mariana Islands     MP      1         NaN
40                            Ohio     OH    386  11658609.0
41                        Oklahoma     OK    158   3930864.0
42                          Oregon     OR    125   4142776.0
43                           Palau     PW      1         NaN
44                    Pennsylvania     PA    544  12805537.0
45                     Puerto Rico     PR    161   3337177.0
46                    Rhode Island     RI     37   1059639.0
47                  South Carolina     SC     97   5024369.0
48                    South Dakota     SD     33    869666.0
49                       Tennessee     TN    191   6715984.0
50                           Texas     TX    506  28304596.0
51                            Utah     UT     60   3101833.0
52                         Vermont     VT     32    623657.0
53                  Virgin Islands     VI      2         NaN
54                        Virginia     VA    222   8470020.0
55                      Washington     WA    164   7405743.0
56                   West Virginia     WV     99   1815857.0
57                       Wisconsin     WI    132   5795483.0
58                         Wyoming     WY     17    579315.0

## Investigate the first few rows of the DataFrame

In [10]:
states.head()

            State Abbrev  Count  Population
0         Alabama     AL    129   4874747.0
1          Alaska     AK     35    739795.0
2  American Samoa     AS      1     51504.0
3        Arizona      AZ    155   7016270.0
4        Arkansas     AR    108   3004279.0

## The __`Count`__ column is irrelevant, so...
* Create a new DataFrame with only the 'Abbrev' and 'Population' columns

In [11]:
states = states[['Abbrev', 'Population']]
states

   Abbrev  Population
0      AL   4874747.0
1      AK    739795.0
2      AS     51504.0
3      AZ   7016270.0
4      AR   3004279.0
5      CA  39536653.0
6      CO   5607154.0
7      CT   3588184.0
8      DE    961939.0
9      DC    693972.0
10     FM         NaN
11     FL  20984400.0
12     GA  10429379.0
13     GU    167358.0
14     HI   1427538.0
15     ID   1716943.0
16     IL  12802023.0
17     IN   6666818.0
18     IA   3145711.0
19     KS   2913123.0
20     KY   4454189.0
21     LA   4684333.0
22     ME   1335907.0
23     MH         NaN
24     MD   6052177.0
25     MA   6859819.0
26     MI   9962311.0
27     MN   5576606.0
28     MS   2984100.0
29     MO   6113532.0
30     MT   1050493.0
31     NE   1920076.0
32     NV   2998039.0
33     NH   1342795.0
34     NJ   9005644.0
35     NM   2088070.0
36     NY  19849399.0
37     NC  10273419.0
38     ND    755393.0
39     MP         NaN
40     OH  11658609.0
41     OK   3930864.0
42     OR   4142776.0
43     PW         NaN
44     PA  12805537.0
45     PR   3337177.0
46     RI   1059639.0
47     SC   5024369.0
48     SD    869666.0
49     TN   6715984.0
50     TX  28304596.0
51     UT   3101833.0
52     VT    623657.0
53     VI         NaN
54     VA   8470020.0
55     WA   7405743.0
56     WV   1815857.0
57     WI   5795483.0
58     WY    579315.0

## We're going to want to merge the DataFrames on the two-letter abbreviation
* This is called __`State`__ in the first data set so make sure the second dataset has the correct column names

In [12]:
states.columns = ['State', 'Population']
states

   State  Population
0     AL   4874747.0
1     AK    739795.0
2     AS     51504.0
3     AZ   7016270.0
4     AR   3004279.0
5     CA  39536653.0
6     CO   5607154.0
7     CT   3588184.0
8     DE    961939.0
9     DC    693972.0
10    FM         NaN
11    FL  20984400.0
12    GA  10429379.0
13    GU    167358.0
14    HI   1427538.0
15    ID   1716943.0
16    IL  12802023.0
17    IN   6666818.0
18    IA   3145711.0
19    KS   2913123.0
20    KY   4454189.0
21    LA   4684333.0
22    ME   1335907.0
23    MH         NaN
24    MD   6052177.0
25    MA   6859819.0
26    MI   9962311.0
27    MN   5576606.0
28    MS   2984100.0
29    MO   6113532.0
30    MT   1050493.0
31    NE   1920076.0
32    NV   2998039.0
33    NH   1342795.0
34    NJ   9005644.0
35    NM   2088070.0
36    NY  19849399.0
37    NC  10273419.0
38    ND    755393.0
39    MP         NaN
40    OH  11658609.0
41    OK   3930864.0
42    OR   4142776.0
43    PW         NaN
44    PA  12805537.0
45    PR   3337177.0
46    RI   1059639.0
47    SC   5024369.0
48    SD    869666.0
49    TN   6715984.0
50    TX  28304596.0
51    UT   3101833.0
52    VT    623657.0
53    VI         NaN
54    VA   8470020.0
55    WA   7405743.0
56    WV   1815857.0
57    WI   5795483.0
58    WY    579315.0

In [13]:
data = pd.merge(data, states, on='State')
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,Population
0,03/12/2014,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,M&T BANK CORPORATION,MI,48382,NaN,NaN,Referral,03/17/2014,Closed with explanation,Yes,No,759217,9962311.0
1,07/25/2014,Mortgage,Conventional adjustable mortgage (ARM),"Loan modification,collection,foreclosure",NaN,NaN,NaN,"BANK OF AMERICA, NATIONAL ASSOCIATION",MI,49441,NaN,NaN,Web,07/25/2014,Closed with explanation,Yes,No,953726,9962311.0
2,10/10/2014,Mortgage,Conventional adjustable mortgage (ARM),"Loan modification,collection,foreclosure",NaN,NaN,NaN,JPMORGAN CHASE & CO.,MI,48154,NaN,NaN,Web,10/10/2014,Closed with explanation,Yes,Yes,1067722,9962311.0
3,04/05/2017,Other financial service,Credit repair,Fraud or scam,NaN,i was tolled i would have a credit score of XX...,Company disputes the facts presented in the co...,Park View Credit,MI,488XX,Servicemember,Consent provided,Web,04/05/2017,Closed with explanation,Yes,No,2417763,9962311.0
4,02/10/2015,Money transfers,Domestic (US) money transfer,Fraud or scam,NaN,NaN,NaN,MONEYGRAM PAYMENT SYSTEMS WORLDWIDE INC,MI,49022,Older American,NaN,Web,02/10/2015,Closed with monetary relief,Yes,No,1232991,9962311.0

## Generate a new DataFrame that contains the number of  complaints per state and keeps track of those counts

In [14]:
by_state = pd.DataFrame(data['State'].value_counts().reset_index())
by_state.columns = 'State Count'.split()

In [15]:
by_state

   State   Count
0     CA  135002
1     FL   91133
2     TX   76955
3     NY   64340
4     GA   47759
5     NJ   36870
6     IL   35988
7     PA   33399
8     VA   29547
9     MD   29070
10    OH   29029
11    NC   28458
12    MI   23307
13    AZ   21077
14    WA   19482
15    MA   17921
16    CO   16159
17    TN   15388
18    SC   13350
19    MO   12863
20    NV   11734
21    CT   11089
22    IN   10977
23    LA   10771
24    OR   10660
25    MN   10601
26    AL   10541
27    WI   10175
28    KY    6951
29    OK    6237
30    DC    5415
31    UT    5364
32    MS    4957
33    DE    4841
34    KS    4739
35    NM    4512
36    AR    4347
37    NH    4035
38    IA    3992
39    ID    3076
40    HI    3038
41    ME    2983
42    RI    2903
43    NE    2901
44    PR    2453
45    WV    2424
46    MT    1529
47    VT    1433
48    SD    1268
49    AK    1056
50    ND     951
51    WY     869
52    VI     200
53    GU     152
54    FM      48
55    MP      31
56    MH      30
57    AS      25
58    PW      13

## Merge the __`by_state`__ DataFrame and the states DataFrame on the __`State`__ column
* Since there are U.S. territories in one of the datasets and not the other, we have some NaN resultsget rid of those

In [16]:
merged = pd.merge(by_state, states, on='State').dropna()

## Inspect the first few rows to ensure it worked properly

In [17]:
merged.head()

  State   Count  Population
0    CA  135002  39536653.0
1    FL   91133  20984400.0
2    TX   76955  28304596.0
3    NY   64340  19849399.0
4    GA   47759  10429379.0

## Normalize the Population
1. Divide the counts column by the __`Population`__ 
* Store the result in a new columnn called 'population_normalized'

In [18]:
merged['population_normalized'] = merged['Count'] / merged['Population']

## Check out the first few rows of the data to make sure it looks like you expect

In [19]:
merged.head()

  State   Count  Population  population_normalized
0    CA  135002  39536653.0               0.003415
1    FL   91133  20984400.0               0.004343
2    TX   76955  28304596.0               0.002719
3    NY   64340  19849399.0               0.003241
4    GA   47759  10429379.0               0.004579

## What are the top 10 states for complaints based upon raw counts?

In [20]:
merged.sort_values('Count', ascending=False)[:10]

  State   Count  Population  population_normalized
0    CA  135002  39536653.0               0.003415
1    FL   91133  20984400.0               0.004343
2    TX   76955  28304596.0               0.002719
3    NY   64340  19849399.0               0.003241
4    GA   47759  10429379.0               0.004579
5    NJ   36870   9005644.0               0.004094
6    IL   35988  12802023.0               0.002811
7    PA   33399  12805537.0               0.002608
8    VA   29547   8470020.0               0.003488
9    MD   29070   6052177.0               0.004803

## What are the top 10 states for complaints normalized by population?

In [21]:
merged.sort_values('population_normalized', ascending=False)[:10]

   State   Count  Population  population_normalized
30    DC    5415    693972.0               0.007803
33    DE    4841    961939.0               0.005033
9     MD   29070   6052177.0               0.004803
4     GA   47759  10429379.0               0.004579
1     FL   91133  20984400.0               0.004343
5     NJ   36870   9005644.0               0.004094
20    NV   11734   2998039.0               0.003914
8     VA   29547   8470020.0               0.003488
0     CA  135002  39536653.0               0.003415
3     NY   64340  19849399.0               0.003241